


// Variables for breakpoints

$mobile-landscape: 568px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1300px;


// Map for breakpoints

$breakpoints: (
  "small": (
    min-width: $mobile-landscape,
  ),
  "medium": (
    min-width: $tablet,
  ),
  "large": (
    min-width: $desktop,
  ),
  "desktop": $large-desktop,
); 