:host {
  display: block;

  .route {
    color: #353d42;
    padding: 0 10px;
    font-size: 13px;

    &.other{
      &:hover{
        cursor: pointer;
        text-decoration: underline;
      }
    }
    
    &.first {
      color: #a3acb9;
    }
  }
}
